.fc-sun {
    color: #e60012;
}

.fc-sat {
    color: #008bdb;
}

.event-viewer--title-background {
    padding: 0 4px;
    margin-right: 3px;
    border-radius: 2px;

}

.fc-day-top .fc-day-number:hover,
.fc-day-header a:hover {
    text-decoration: underline;
}
