.background-size-contain {
    background-size: contain;
}

.background-size-cover {
    background-size: cover;
}

.background-no-repeat {
    background-repeat: no-repeat;
}

.background-center {
    background-position: center center;
}
