#class_group_toggle:not(.select--class) {
    &~.class_group_container.class--container {
        display: none;
    }

    &~.class_group_container.group--container {
        display: block;
    }
}

#class_group_toggle.select--class {
    &~.class_group_container.class--container {
        display: block;
    }

    &~.class_group_container.group--container {
        display: none;
    }
}
